
*{
    margin: 0 auto;
}


.classe1{
    background-color: #E7DED8;
    
}

.classe2{
    float:right;
    color: white;
    background-color: black;
    width: 50%;
    height: 220px;
    float:center;
}
.classe3{
    text-align: center;
    font-size: 60px;
    color: black;
    width: 70%;
    height: 100px;
    background-color:white;
    float: right;
}
.classe4{
    background-color: black;
    width: 25%;
    height: 780px;
    float:left;
    color: white;
    text-align: center;

}

img    {
    border-radius: 50%;


}

.conteiner{
    display: flex; /*ativar o flexbox em linha*/
    flex-direction: column; /*direção dos itens no container */
    justify-content: space-around;
    align-items: center;
  background-color: darkgray;
  text-align: center;
  height: 50px;
    
}

hr {
	border: 0;
	border-top: 1px solid white;
    border-spacing: 20;
}
    
.classe5{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    color: black;
}



.a{
    text-decoration:none;
    color:peru;
}

a:hover{
    background-color: darkmagenta;
    color: darkkhaki;
}

h1:hover{
    background-color: black;
    color: white;
}

